body{
  background-image: url('/home/bist10/Desktop/jkein html/portfolio project/image/snowy-mountain-peak-starry-galaxy-majesty-generative-ai.jpg');
  background-size: 105%;
  background-repeat: no-repeat;
} 
.login-container{
  text-align: center;
  position: relative;
  bottom: 20px;
  color: white;
  font-family: cursive;
  font-size: 35px;
}
.form-container{
  border-color: black;
  padding: 50px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  max-width: 500px;
  border-radius: 10px;
  margin-top: 170px ;
}
.w3-input{
  outline: none;
  background-color: rgba(0, 0, 0, 0);
}
#bttn{
  border-radius: 5px;
  padding: 8px;
  background: rgb(14,0,255);
  background: linear-gradient(90deg, rgba(14,0,255,0) 0%, rgba(13,15,255,1) 0%, rgba(14,4,255,1) 0%, rgba(255,0,243,1) 0%, rgba(0,212,255,1) 100%);
  position: relative;
  width: 40%;
  left: 135px;
  top: 20px;
  color: white;
}
#bttn:hover{
  background-color: #1accd4;
}
#rn{
  position: relative;
  color: white;
  top: 20px;
  font-size: 13px;
}