
html{
	overflow: scroll;
}
body{
	background-color: #353757;
}
.bruh{
	margin: 30px;
	margin-left: 53%;
}
#ph{
	color: white;
	margin: 35px;
	text-decoration: none;
}
#ph:hover{
	color: skyblue;
}
#pa{
	color: white;
	margin: 35px;
	text-decoration: none;
}
#pa:hover{
	color: skyblue;
}
#pp{
	color: white;
	margin: 35px;
	text-decoration: none;
}
#pp:hover{
	color: skyblue;
}
#pm{
	color: white;
	margin: 35px;
	text-decoration: none;
}
#pm:hover{
	color: skyblue;
}
#jkeim{
	position: absolute;
	top:180px;
	margin: 10%;
	color: white;
	font-size: 50px;
	font-family: timesnewroman;
}
#i{
	color: white;
	top:50px;
}
#k{
	font-size: 18px;
}
#z{
	font-size: 20px;
	padding: 15px;
	color: white;
	background-color: #1292e2;
	outline: none;
	border-radius: 10px;
	font-family: serif;
}
#z:hover{
	background-color: #2C3C69;
}
#z:active{
}
img{
	width: 450px;
	height: 450px;		
	margin: 90px;
	margin-left: 800px;
	border-radius: 40px;
	border-style: solid;
	border-color: skyblue;
	shad
}
img:hover{
	border-color: pink;
}
#st{
	color: deepskyblue;
}
#quote{
	color: lightgray;
	font-size: 13px;
	position: relative;
	left: 800px;
	bottom: 80px;
}
#port{
	font-size: 40px;
	position: relative;
	color: white;
	bottom: 735px;
	left: 30px;
	font-family: cursive;
	text-decoration: none;
}
#btn{
  background-color: #1292e2;
  color: white;
  width: 450px;
  height: 80px;
  position: relative;
  left: 400px;
  top: 50px;
  padding: 8px;
  border-radius: 5px;
  font-size: 15px;
}
#btn:hover{
  background-color: #0BDA51;
}
#projct{
	color: white;
	font-size: 30px;
	text-decoration: none;
	position: relative;
	bottom: 525px;
	left: 20px;
}